html,
body {
 width: 100%;
 
  background-color: #e9e6e6;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.customOverlay {
  background: rgba(36, 123, 160, 0.7);
  animation-fill-mode: forwards !important;
}
.customModal {
  background: #b2dbbf;
  min-width: 500px;
  animation-fill-mode: forwards !important;
}
.btn-cancle {
  color: rgb(93, 93, 218);
  background-color: transparent;
  border: none;
  float: right;
}

